/* Define gvim scrollbar color */
@define-color GVIM_SCROLLBAR_COLOR #2f2f2f;

/* Override gvim borders */
#vim-main-window {
  background-color: #151515;
  border-right: 4px solid #2f2f2f;
}

#vim-main-window GtkScrollbar {
  -GtkRange-slider-width: 0;
  -GtkRange-trough-border: 0;
}
