packages: [
  "advanced-open-file"
  "atom-terminal"
  "color-picker"
  "disable-keybindings"
  "editorconfig"
  "emmet"
  "file-icons"
  "language-haml"
  "language-slim"
  "linter"
  "linter-jshint"
  "linter-php"
  "linter-rubocop"
  "linter-ruby"
  "linter-shellcheck"
  "merge-conflicts"
  "open-this"
  "package-sync"
  "project-plus"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
]
